# Example environment variables for apps/web
# Database URL (Turso or local). For Turso use the libsql:// URL.
DATABASE_URL=

# Turso Auth Token (separado de la URL, solo para producción)
DATABASE_AUTH_TOKEN=

# NextAuth example
NEXTAUTH_URL=
NEXTAUTH_SECRET=
